{% extends "user/driver_site2.html" %}

{% block content %}
   <h3>My Confirmed Orders</h3>


    <div class="container">
        <div>
  
        </div>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          </div>
  
          <!-- Table -->
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Ride Destination</th>
                <th>Arrival Time</th>
                <th>Order Owner</th>
                <th>Current Status</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in rides %}
              {% if obj.status != "Completed" %}
              <tr>
                <!-- <th scope="row">1</th> -->
                <td>{{obj.destination}}</td>
                <td>{{obj.arrival_time}}</td>
                <td>{{obj.owner}}</td>
                <td>{{obj.status}}</td>
                <td>
                  <a style="color:white" class="btn btn-secondary btn-xs"
                    href="{% url 'request_detail' obj.id %}">Details</a>
                  <a style="color:white" class="btn btn-secondary btn-xs" href="{% url 'complete_order' obj.id %}">Complete</a>
                  <!-- <button class="btn btn-primary" type="button">Button</button>
                  <button class="btn btn-primary" type="button">Button</button> -->
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
        </table>
  


{% endblock%}