{% extends "user/home.html" %}
{% block content %}
   <h1 class="text-center">Driver Register</h1>
   <div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" novalidate>
                {% csrf_token %}

                <div class="form-group">
                    <label>Choose a vehicle type:</label>
                    <select class="form-control" name="vehicle">
                        <option value="4">Sedan - up to 4 Passengers</option>
                        <option value="5">SUV - up to 5 Passengers</option>
                        <option value="6">Pickup - up to 6 Passengers</option>
                        <option value="3">Coupe - - up to 3 Passengers</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Plate number:</label>
                    <input type="text" class="form-control" name="plate" required pattern="[A-Z0-9]{0,10}">
                </div>
                <div class="form-group">
                    <label>Special vehicle info:</label>
                    <input type="text" class="form-control" name="special_info" >
                </div>

                <div class="form-group">
                    <button class="btn btn-success btn-xs" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="border-top pt-3">
            <small class="text-center ">
                Already Have A Driver Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div>
                <div class="text-center">
   {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
                </div>

{% endblock %}
